body {
  font-size: 16px;
}
h1 {
  font-family: sans-serif;
  font-size: 65px;
  color: orangered;
}
p {
  font-weight: 600;
  font-size: 3em;
}
#list-style {
  font-style: italic;
  line-height: 2em;
  text-decoration: line-through;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#brown {
  background-color: brown;
}
.neutral-color {
  background-color: rgb(15, 99, 99);
}
