* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(26, 25, 25);
  color: #eee;
}

header > h1 {
  font-size: 1.5rem;
}

header > h3 {
  font-size: 1rem;
}

.header-img {
  width: 70px;
}

body section:first-of-type {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

body section:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
}

body section:nth-of-type(2) div {
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 24px;
}

.gallery-img {
  width: 150px;
  height: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

hr {
  width: 100%;
  margin-top: 5px;
}

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}