* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --dark: rgb(13, 2, 34);
    --light: rgb(238,238,238);
}

body{
    font-family: sans-serif;
}

header {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 1rem;
}

#settings-bar{
    max-width: 1300px;
    width: 95%;
    display: flex;
    justify-content: space-around;
}

.select-input{
    min-width: 100px;
}

#sans-serif{
    font-family: sans-serif;
}

#montserrat{
    font-family: Montserrat;
}

#verdana {
    font-family: Verdana;
}

.test-div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    padding: 2px;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 3px;
}

#font-selector-test{
    font-family: sans-serif;
}

#bg-color-selector-test{
    background-color: var(--dark);
    color: transparent;
}

#color-selector-test {
    color: var(--dark);
    background-color: var(--light);
}

main {
    padding: 50px;
}

article {
    text-align: justify;
}
